button{
	background-color: hotpink;
}

.container-6{
	background-color: deepskyblue;

}

.container-7{
	height: 750px;
	padding-top: 200px;
	background-image: url('Images/background.jpg');
}

.sendNameBtn{
	background-color: hotpink;
	padding:10px;
	font-size: 18px;
	font-weight: bold;
}

.sendNameBtn:hover{
	transform: scale(1.1, 1.1);

}

.form-label{
	font-size: 20px;
}

input{
	margin-left: 20px;
}

select{
	margin-left: 20px;
}

.form-container{
	background:beige;
	height:500px;
	border: 2px solid darkgrey;
}
.eq{
	margin-left:20px;
}

#box{
	margin-top: 20px;
}

li{
	padding: 10px;
	font-size: 18px;
}

#react-app{
	background-color: lightcyan;
}

#lista{
	margin-top: 20px;
}